<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Lawyer App</title>
</head>
<body>
    <div class="container">
        <div class="language-btn-container">
            <div class="language-btn--inner">
                <img class="language-btn-icon" src="../media/ikonka4-01.png">
                <p><span>BG</span>|<span class="language-selected">ENG</span></p>
            </div>
        </div>
        <div class="buttons-top">
            <div><p>home</p></div>
            <div  class="selected-btn"><p>attorneys</p></div>
            <div><p>nearest courts</p></div>
            <div><p>how to choose a lawyer</p></div>
            <div><p>forum</p></div>
            <div><p>hotline</p></div>
        </div>
        <div class="main-lawyer-container">
            <div class="lawyer-left">
                <img class="lawyer-image" src="../media/Saul_Goodman.jpg">
            </div>
            <div class="lawyer-right">
                <p class="lawyer-name">Saul Goodman</p>
                <div class="lawyer-rating">
                    <p class="attr-title">Rating:</p>
                    <img src="../media/rating2-01.png" alt="">
                </div>
                <p class="lawyer-attr lawyer-att-type">
                    <p class="attr-title">Type attorney:</p>
                    <p class="attr-description">
                        covers constituional & criminal law cases
                    </p>
                </p>
                <p class="lawyer-attr lawyer-att-address">
                    <p class="attr-title">Office address:</p>
                    <p class="attr-description">
                        bul. Nikola Vaptzarov №76, Plovdiv, Bulgaria
                    </p>
                </p>
               
            </div>
            
        </div>
        <div class="lawyer-main-under">
            <div class="img-number"><p><span>←</span> 1/6 <span>→</span></p></div>
            <div class="contact-btns">
                <img src="../media/contact-btns/ikonka 1-01.png" alt="">
                <img src="../media/contact-btns/ikonka2-01.png" alt="">
                <img src="../media/contact-btns/ikonka3-01.png" alt="">
            </div>
        </div>
        <div class="lawyer-info">
            <div class="quote"></div>
            <div class="text">
                <p>Jimmy is of Irish descent and was born on November 12, 1960 in Cicero, Illinois, outside Chicago. His older brother Chuck became a successful lawyer as one of the partners at an Albuquerque law firm, Hamlin, Hamlin & McGill (HHM).</p>
                <p>As a child, Jimmy worked at his father Charles Sr.'s general store in Cicero, and watched as customers took advantage of his naïve father; Jimmy soon began stealing from the store himself.[12] According to Chuck, Jimmy embezzled $14,000 from his family's store, leading to his father's bankruptcy. </p>
                <p> His father died six months later; Jimmy cried inconsolably at the funeral.[13] Determined not to be like his father, Jimmy becomes a con artist, and earns the nickname "Slippin' Jimmy" for staging "slip and fall" accidents. He also ran petty scams including the "fake Rolex" with the help of his partner-in-crime Marco Pasternak.</p>
                <div class="fade-out"></div>
            </div>
            
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>